.mainpage {
  max-width: 960px;
  margin-left: 10px;
}
.tophead {
  border-radius: 15px;
  background: #561260;
  max-height: 70px;
  height:70px;
  }
.portrait {
  float: right;
  margin-right: 20px;
  margin-top: -85px;
}
 .name {
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 45px;
  padding: 10px;
  margin-left: 102px;
  }
.maintext {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 55px;
}
.foot {
  border-radius: 15px;
  background: #561260;
  padding: 23px;
  max-height: 12px;
  max-width: 960px;
}
p {
  color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
h2 {
  font-family: 'PT Serif', serif;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 2px;
  color:#001942;
}
.listtext {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  color: #001942;
}
p a:link {
  color: white;
}
hr {
  margin-left: 20px;
}
a:link {
  color:#561260;
}
a:hover {
  color: #CE00A7;
}
.foottext {
  margin-top: -12px;
}
.line2 {
margin-top: -30px;
}
.footerlink {
  color:white;
}