.name {
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

main {
  background-color: white;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 35px;
}

.portrait {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
}

header,
footer {
  background: #2E004F;
  max-width: 960px;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 2px;
  color: #2E004F;
}

.listtext {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  color: #2E004F;
}

p a:link {
  color: white;
}

hr {
  margin-left: 20px;
}

a:link {
  color: #2E004F;
}

a:hover {
  color: rgba(253, 4, 108, 0.836);
}

.foottext {
  padding-top: 10px;
}

.line2 {
  margin-top: -30px;
  padding-bottom: 10px;
}

.footerlink {
  color: white;
}