@media only screen and (min-width: 32.5em) {
	.titleMotto h1 {
		font-size: 2rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		font-size: 1rem;
		margin-left: 8px;
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: white;
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	nav {
		width: 100%;
		max-width: 980px;
		font-size: 1rem;
	}

	nav {
			max-width: 100%;
			font-size: 1.2rem;
		}

		.titleMotto h1 {
			font-size: 2.5rem;
		}

		footer,
		main {
			max-width: 980px;
			margin: 0 auto;

		}

		.mainArticle img {
			float: right;
			width: 450px;
			padding-left: 15px;
		}

		.mainArticle {
			width: 92%;
			margin-left: 15px;

		}

		.cards Section {
			display: flex;
			flex-direction: row;
		}

		.cards Section:nth-child(even) {
			flex-direction: row-reverse;
		}



	}
