* {
  box-sizing: border-box;
}

main {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  color: rgb(13, 167, 133);
  text-align: center;

}

img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
  margin: 7px;
}