@media only screen and (min-width: 60em) {

  /* Navigation */
  nav {
    max-width: 100%;
    font-size: 1.5rem;
  }

  .navMotto {
    font-size: 1.8rem;
  }

  .navHeader {
    font-size: 2.5rem;
  }

  header img {
    width: 130px;
  }
}

/* Footer */

footer {
	width: 100%;
	max-width: 1550px;
}

/* Home Page */













