@media only screen and (min-width: 60em) {

/* Navigation */
.navMotto  {
  font-size: 1.7rem;
}

nav {
  font-size: 1.5rem;
  width: 100%;
  max-width: 1550px;
}

.navHeader {
  font-size: 2.5rem;

}

header img {
  width: 120px;
}

/* Home Page */

.homeMain {
  grid-template-columns: 350px 350px 350px;
  grid-column: span 3;

}

main h1 {
  font-size: 2.2rem;

}

main h2 {
  font-size: 1.7rem;
}

.reserveButton {
  font-size: 1.5rem;
}

.weather p {
  font-size: 1.3rem;
}

.weatherTitle {
  font-size: 2.2rem;
}

/* Footer */

.footTitle {

	font-size: 1.6rem;

}

footer p {
	font-size: 1.1rem;

}
.mainArticle {
  display: block;
  width: 94%;
  background-color: white;
  padding: 18px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  color: #345681;
  margin-bottom: 20px;
}

.mainArtTitle {
  text-align: left;
  font-size: 1.7rem;
  margin: 0;
  margin-top: 10px;
  font-family: "Lora", serif;

}

.mainArticle h2 {
font-size: 1.1rem;
margin-top: 5px;
}

.mainArticle p {
  line-height: 25px;

}

.mainArticle img {
  float: right;
  width: 450px;
  padding-left: 15px;
}

/* Trips */

.tripsMain {
  display: grid;
  grid-template-columns: 1200px;
  align-content: center;
  justify-content: center;
}

.tripMain img {
  float: right;
  width: 550px;
  margin-right: 12px;

}

.tripMain {
  margin: 35px;
  padding: 12px;
}

.tripMain h3 {
  font-size: 2.2rem;
  margin-top: 12px;
}

/* Reservation */

.resMain {
	width: 100%;
}

.resTitle {
	font-size: 2.1rem;

}



th {
	font-size: 1.9rem;

}

td {
	font-size: 1.5rem;
	text-align: center;
}

.reserveTitle {
	font-size: 2.1rem;
}

.reserveForm {
	margin-top: 30px;
	margin-bottom: 15px;;
}

.addInfo, .addInfo textarea {
	display: block;
	width: 98%;
}

/* Guides */

.guides h2 {
	font-size: 2.2rem;
}

.guides p {
	font-size: 1.3rem;
}
}