@media only screen and (min-width: 45em) {

	/* Navigation */
	.navMotto  {
		font-size: 1.5rem;
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: white;
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	nav {
		width: 100%;
		max-width: 980px;
		font-size: 1.4rem;
	}

	.navHeader {
		font-size: 2.3rem;

	}

	header img {
		width: 100px;
	}

	/* Home Page */

	.homeMain {
		grid-template-columns: 350px 350px;
		grid-column: span 2;
		justify-content: center;
		align-items: center;
		justify-content: space-evenly;
	}

	.homeImg {
		width: 350px;
		max-width: 95%;
	}

	.homeImg img {
		width: 292px;
	}

	.homeImg figcaption {
		font-size: 2rem;
		padding-top: 8px;
	}

	main h1 {
		font-size: 2rem;

	}

	main h2 {
		font-size: 1.5rem;
	}

	.weather p {
		font-size: 1.2rem;
	}

	.weatherTitle {
		font-size: 2rem;
	}

	/* Trips */

	.tripsMain {
		display: grid;
		grid-template-columns: 800px;
		align-content: center;
		justify-content: center;
	}

	.tripMain img {
		float: right;
		width: 350px;
		margin-right: 12px;

	}

	.tripMain {
		width: 100%;
		background-color: #102a6d;
		border: 8px solid #46b56d;
		margin: 25px;
		padding: 12px;
	}

	.tripMain h3 {
		font-size: 2rem;
		margin-top: 12px;
	}
	}







}

