/* Navigation */
* {
	box-sizing: border-box;
}
header {
	background-color: #fff;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	margin: 12px;

}

header img {
	width: 80px;
	max-width: 100%;
}

.navMotto {
	display: flex;
	flex-direction: column;
	font-family: "Roboto Condensed", sans-serif;
	color: #46b56d;
	text-align: center;
	font-size: 1.2rem;
	margin-top: -18px;
	font-weight: 900;

}

nav {
	background-color: #102a6d;
	color: white;
	font-family: "Roboto Condensed", sans-serif;
	margin: 0 auto;
	width: 100vw;
	font-size: 1.2rem;

}

.navigation {
	list-style: none;
	margin: 0;

}

.navigation li:first-child {
	display: block;

}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: #ffffff;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover {
	color: #102a6d;
	background-color: #46b56d;

}

.responsive li {
	display: block;
}

.active {
	background-color: #1e6db2;
}

ul {
	padding: 0;
}

.navHeader {
	font-family: "Oregano", cursive;
	color: #102a6d;
	font-size: 1.8rem;
	margin-top: -1px;

}

/* Footer */

footer {
	background-color: #102a6d;
	color: white;
	width: 100vw;
	padding: 10px;
	text-align: center;
	line-height: 5px;
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.2rem;

}

.footLogo {
	width: 60px;
	padding-top: 5px;
}

.footTitle {
	font-family: "Oregano", cursive;
	font-size: 1.5rem;
	color: #fecb49;
}

footer p {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1rem;
	line-height: .5rem;
}

.fa {
	padding: 12px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 8px;
}

.fa-facebook {
	background-color: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

.accessibility {
	display: none;
}

/* Home Page Weather */

.weather {
	background-color: #46b56d;
	display: flex;
	padding: 10px;


}

.weatherTitle {
	font-family: "Oregano", cursive;
	text-align: center;
	color: #102a6d;
	font-size: 1.7rem;
	margin-top: 15px;
	padding-right: 12px;

}

.weather p {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1rem;
	color: white;
	text-align: center;
	padding-right: 12px;
	padding-left: 12px;

}

.col {
	flex: 1 1 100%;
	border: 1px solid white;
	text-align: center;
	background-color: #102a6d;
}

/* Home page */

.homeMain {
	display: grid;
	align-items: center;
	justify-content: center;

}

.homeImg {
	background-color: #102a6d;
	border: 8px solid #46b56d;
	display: block;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 350px;
	max-width: 90%;
}

.homeImg img {
	width: 309px;
	border: 12px solid white;
	margin-left: -27px;
}

.homeImg figcaption {
	font-family: "Oregano", cursive;
	text-align: center;
	color: white;
	font-size: 1.7rem;
	padding-top: 8px;;
}

main h1 {
	font-family: "Oregano", cursive;
	color: #102a6d;
	font-size: 1.7rem;
	text-align: center;
	padding-top: 12px;
}

main h2 {
	font-family: "Roboto Condensed", sans-serif;
	color: #46b56d;
	font-size: 1.3rem;
	text-align: center;
	margin-top: -10px;
	font-weight: bold;
}

.reserveButton {
display: grid;
justify-content: center;
align-content: center;
font-family: "Roboto Condensed", sans-serif;
font-size: 1.2rem;
}

/* trips */

.tripMain h3 {
	font-family: "Oregano", cursive;
	font-size: 1.8rem;
	margin-top: auto;
	text-align: center;
	color: #fecb49;
	padding: 12px;
}

.tripMain p {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.3rem;
	color: white;
	padding: 12px;
	line-height: 30px;;
	}

.tripsMain {
	display: grid;
	align-items: center;
	justify-content: center;
}

.tripMain img {
	width: 309px;
	border: 12px solid white;
	margin-top: 12px;
	margin-left: 12px;

}

.tripMain {
	background-color: #102a6d;
	border: 8px solid #46b56d;
	display: block;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 350px;
	max-width: 90%;
}

.tripInfo {
	margin: 8px;
}

/* Contact */

.contactMain {
	display: grid;
	align-items: center;
	justify-content: center;

}

.map, .contact {
	background-color: #102a6d;
	border: 8px solid #46b56d;
	display: block;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 365px;
	max-width: 90%;
}

.map iframe {
	width: 350px;
	padding: 12px;
}

.contact h3, .location {
	font-family: "Oregano", cursive;
	font-size: 1.8rem;
	text-align: center;
	color: #fecb49;
}

fieldset {
	max-width: 100%;
	padding: 10px;
	margin: 5px;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
	font-size: 1.2rem;
	border: none;
}

input, label, select {
	display: block;
	padding: 5px;
	width: 98%;
}

.button {
	background-color: #fecb49;
	margin-top: 15px;
	color: #102a6d;
}

.map p {
	font-family: "Roboto Condensed", sans-serif;
	color: white;
	text-align: center;
	font-size: 1.1rem;
}

/* Reservation */

.resTitle {
	font-family: "Oregano", cursive;
	font-size: 1.7rem;
	color: #102a6d;
	margin-bottom: 1px;
	text-align: center;
}

table {
	width: 100%;
	border: 3px solid #102a6d;
}

th {
	background-color: #102a6d;
	font-family: "Oregano", cursive;
	color: #fecb49;
	font-size: 1.5rem;
	font-weight: lighter;
	border: 3px solid #102a6d;

}

td {
	font-family: "Roboto Condensed", sans-serif;
	color: #102a6d;
	font-size: 1.2rem;
	text-align: center;
	line-height: 30px;
	border: 3px solid #102a6d;
}

.reserveTitle {
	font-family: "Oregano", cursive;
	font-size: 1.7rem;
	color: #fecb49;
	margin-bottom: 1px;
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
}

.reserveForm {
	background-color: #102a6d;
}

/* Guides */

.guideMain {
	display: grid;
	justify-content: center;
	align-content: center;
}

.guides section {
	text-align: center;
	background-color: #102a6d;
	color: white;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.guides img {
	max-width: 350px;
	width: 100%;
}

.guides h2 {
	font-family: "Oregano", cursive;
	color: #fecb49;
	font-size: 1.8rem;
	margin-top: 15px;
}

.guides p {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1rem;
}

/* Resource */

#attrib {
	color: white;
	text-decoration: none;
}

.resourceMain h2 {
	color: #fecb49;
	font-family: "Oregano", cursive;
	padding: 15px;
	font-size: 1.6rem;;
}

.resourceMain div {
	background-color: #102a6d;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 15px;
	text-align: center;
}

.resourceMain a {
	color: white;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.2rem;
}




























